GEMINI_API_KEY="insert-your-API-key-here"
AWS_ACCESS_KEY_ID="insert-your-access-key-here"
AWS_SECRET_ACCESS_KEY="insert-your-secret-access-key-here"
AWS_REGION="insert-your-region-here"
S3_BUCKET_NAME="insert-your-bucket-name-here"